<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20222035992-ovos92i35fn24mu1gleqiubua41c2l3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20222035992-ovos92i35fn24mu1gleqiubua41c2l3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBCa-xjP2ahAFXzr1vlT5PSZljCgW0cAs8</string>
	<key>GCM_SENDER_ID</key>
	<string>20222035992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlos.login.flutterLoginAuth</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-login-b0117</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-login-b0117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20222035992:ios:bcfcafca6cdcf41fa11b6d</string>
</dict>
</plist>